#contenedor{
	padding-top: 100px;
	position:relative;
	top: 12vw;
	margin: 0 auto;
	align-items: center;
    text-align: center;
    height: 200px;
	width: 30%;
	border:#140DF1 2px solid;
}

#contenedorRegistro{
	padding-top: 100px;
	position:relative;
	top: 12vw;
	margin: 0 auto;
	align-items: center;
    height: 350px;
	width: 40%;
	border:#140DF1 2px solid;
}


body{
	background-image: url('../images/azul.jpg');
}

h1{
	color:white;
}

