<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<link rel="stylesheet" href="resources/css/style.css" />
</h:head>
<h:body>
<h1>ADMINISTRACIÓN</h1>
<h:panelGrid columns="2">
	<h:form>
		<h:commandButton styleClass="botonBlanco" value="USUARIOS" action="#{credenciais.toUsuarios()}"/>
		<h:commandButton styleClass="botonBlanco" value="PRODUCTOS" action="#{credenciais.toProductos()}"/>
		<br></br>
		<br></br>
		<h:commandButton styleClass="botonRojo" action="#{credenciais.logout()}" value="LOGOUT" />
	</h:form>
</h:panelGrid>
</h:body>
</html>
