<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<h:head>
	<link rel="stylesheet" href="resources/css/style.css" />
</h:head>
<h:body>
	<p:dataTable value="#{carouselView.items}" var="elemento" id="tablaCarrito">
		<f:facet name="header">
			<h:outputText value="TABLA CARRITO"/>
		</f:facet>
		<p:column>
			<f:facet name="header">
				<h:outputText value="ID"/>
			</f:facet>
			<h:outputText value="#{elemento.producto.id}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="CATEGORIA"/>
			</f:facet>
			<h:outputText value="#{elemento.producto.categoria}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="NOMBRE"/>
			</f:facet>
			<h:outputText value="#{elemento.producto.nombre}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="PRECIO"/>
			</f:facet>
			<h:outputText value="#{elemento.producto.precio}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="UNIDADES AÑADIDAS"/>
			</f:facet>
			<h:outputText value="#{elemento.numUnidades}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="ELIMINAR"/>   
			</f:facet>
  				<p:commandButton  value="Eliminar" action="#{carouselView.quitarItem(elemento)}" update=":tablaCarrito" />
		</p:column>		
	</p:dataTable>
	<div class="card">
	    <h:form>
	    	<p:commandButton action="#{carouselView.cerrarCarrito()}" value="Seguir comprando" styleClass="p-mr-2" style="width: 13rem"/>
	        <p:commandButton actionListener="#{usuarioBacking.mensajeCompra()}" value="Tramitar pedido" styleClass="p-mr-2" style="width: 10rem" />
	    </h:form>
	</div>
</h:body>
</html>
