<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>  
<title>File Uploads</title>  
</h:head>  
<h:body>  
<h:form>  
 <p:fileUpload listener="#{fileUpload.upload}" mode="advanced" dragDropSupport="false"
                      update="messages" fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                      validateContentType="true" accept=".gif,.jpg,.jpeg,.png"
                      onupload="return confirm('Estás seguro?')"/>
<p:growl id="messages" showDetail="true" />  
</h:form>  
</h:body>  
</html>
