<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<h:head>
<link rel="stylesheet" href="resources/css/style.css" />
	<style>
		table{
			background-color: #00ffff;
			border: black 2px solid;
			border-collapse:collapse;
		}
		td{
			background-color: white;
			border: black 2px solid;
		}
		th{
			border: black 2px solid;
			padding: 10px;
		}
	</style>
</h:head>
<h:body>
	<p:dataTable value="#{productoBacking.productos}" var="elemento">
		<f:facet name="header">
			<h:outputText value="TABLA PRODUCTOS"/>
		</f:facet>
		<p:column>
			<f:facet name="header">
				<h:outputText value="ID"/>
			</f:facet>
			<h:outputText value="#{elemento.id}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="CATEGORIA"/>
			</f:facet>
			<h:outputText value="#{elemento.categoria}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="NOMBRE"/>
			</f:facet>
			<h:outputText value="#{elemento.nombre}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="PRECIO"/>
			</f:facet>
			<h:outputText value="#{elemento.precio}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="STOCK"/>
			</f:facet>
			<h:outputText value="#{elemento.stock}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="IMAGEN"/>
			</f:facet>
			<h:outputText value="#{elemento.image}"/>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="EDITAR"/>
			</f:facet>
			<h:form>
  				<h:commandButton styleClass="botonBlanco" value="Editar" action="#{productoBacking.editar(elemento)}"/>
			</h:form>
		</p:column>
		<p:column>
			<f:facet name="header">
				<h:outputText value="ELIMINAR"/>   
			</f:facet>
			<h:form>
  				<h:commandButton styleClass="botonRojo" value="Eliminar" action="#{productoBacking.delete(elemento)}" />
			</h:form>
		</p:column>
		<h:inputHidden value="#{elemento.id}" var="productoID"/>
	</p:dataTable>
	<br></br>
	<h:form>
		<h:commandButton styleClass="botonBlanco" value="Nuevo" action="#{productoBacking.nuevoV()}"/>
	</h:form>	
	<br></br>
	<h:form enctype="multipart/form-data">
		<h:panelGrid columns="2" rendered="#{productoBacking.nuevo==true}" >
			<h:outputText value="Categoria:"/>
			<h:selectOneMenu value="#{productoBacking.producto.categoria}">
			<f:converter converterId="CategoriaConv"/>
				<f:selectItems value="#{productoBacking.categorias}"></f:selectItems>
			</h:selectOneMenu>
			<h:outputText value="Nombre:"/>
			<h:inputText value="#{productoBacking.producto.nombre}" id="nombre" required="true"/>
			<h:outputText value="Precio:" />
			<h:inputText value="#{productoBacking.producto.precio}" id="precio" required="true"/>
			<h:outputText value="Stock:" />
			<h:inputText value="#{productoBacking.producto.stock}" id="stock" required="true"/>
			<h:inputText value="Subir imagen:"/>
			<p:fileUpload value="#{productoBacking.file}" mode="simple" />

			<h:commandButton styleClass="botonBlanco" action="#{productoBacking.nuevoProducto()}" value="Crear Producto" />
		</h:panelGrid>
	</h:form>
	
	<h:form enctype="multipart/form-data">
		<h:panelGrid columns="2" rendered="#{productoBacking.editar==true}">
			<h:outputText value="Categoria:"/>
			<h:selectOneMenu value="#{productoBacking.producto.categoria}">
			<f:converter converterId="CategoriaConv"/>
				<f:selectItems value="#{productoBacking.categorias}"></f:selectItems>
			</h:selectOneMenu>
			<h:outputText value="Nombre:"/>
			<h:inputText value="#{productoBacking.producto.nombre}" required="true"/>
			<h:outputText value="Precio:" />
			<h:inputText value="#{productoBacking.producto.precio}" required="true"/>
			<h:outputText value="Stock:" />
			<h:inputText value="#{productoBacking.producto.stock}" required="true"/>
			<h:outputText value="Imagen: " />
					<ui:remove>
					<p:fileUpload listener="#{productoBacking.upload}" mode="advanced" dragDropSupport="false"
		                      update="messages" fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
		                      validateContentType="true" accept=".gif,.jpg,.jpeg,.png"
		                     />
		           </ui:remove>
		                  
            <p:fileUpload value="#{productoBacking.file}" mode="simple" />
			<p:growl id="messages" showDetail="true" />  
			<h:commandButton styleClass="botonBlanco" action="#{productoBacking.actualizar}" value="Actualizar Producto" />
		</h:panelGrid>
	</h:form>
	<br></br>
	<br></br>
	<h:form>
		<h:commandButton styleClass="botonRojo" action="#{credenciais.toAdmin()}" value="VOLVER" />
	</h:form>
</h:body>
</html>
