<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<link rel="stylesheet" href="resources/css/style.css" />
		<style>
		table{
			background-color: #00ffff;
			border: black 2px solid;
			border-collapse:collapse;
		}
		td{
			background-color: white;
			border: black 2px solid;
		}
		th{
			border: black 2px solid;
			padding: 10px;
		}
	</style>
</h:head>
<h:body>
<h:outputLabel value="Lista de Usuarios" ></h:outputLabel><br></br>
<h:dataTable value="#{usuarioBacking.usuarios}" var="elemento">
			<f:facet name="header">
					<h:outputText value="TABLA USUARIOS"/>
			</f:facet>
			<h:column>
				<f:facet name="header">
					<h:outputText value="NOMBRE"/>
				</f:facet>
				<h:outputText value="#{elemento.name}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="EMAIL"/>
				</f:facet>
				<h:outputText value="#{elemento.email}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="DIRECCION"/>
				</f:facet>
				<h:outputText value="#{elemento.direccion}"/>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="TELEFONO"/>
				</f:facet>
				<h:outputText value="#{elemento.telefono}"/>
			</h:column>
</h:dataTable>
	<br></br>
	<br></br>
	<h:form>
		<h:commandButton styleClass="botonRojo" action="#{credenciais.toAdmin()}" value="VOLVER" />
	</h:form>
</h:body>
</html>
