<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<h:head>
	<link rel="stylesheet" href="resources/css/style.css"/>
</h:head>
<h:body>
	<div class="card" id="contenedor">
		<h:form>
			<p:messages id="messages" />
			<h:panelGrid columns="2" cellpadding="6" style="margin:0 auto">
				<h:outputLabel for="email" value="Email: " />
				<p:inputText id="email" value="#{credenciais.email}" />

				<h:outputLabel for="contrasena" value="Password: " />
				<p:password id="contrasena" value="#{credenciais.password}" />

				<p:commandButton  value="Login"
					action="#{credenciais.autentica()}" />
				<p:commandButton  value="Registrarse"
					action="#{credenciais.toRegistro()}" />
			</h:panelGrid>
		</h:form>
	</div>
</h:body>
</html>
