<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" >
<h:head></h:head>
<h:body>
<div class="card">
    <h:form id="formMenu">
        <p:growl id="messages"/>
        <p:menubar>
			<ui:remove>
			<p:submenu label="Users" icon="pi pi-fw pi-user">
                <p:menuitem value="New" icon="pi pi-fw pi-user-plus"/>
                <p:menuitem value="Delete" icon="pi pi-fw pi-user-minus"/>
                <p:submenu label="Search" icon="pi pi-fw pi-users">
                    <p:submenu label="Filter" icon="pi pi-fw pi-filter">
                        <p:menuitem value="Print" icon="pi pi-fw pi-print"/>
                    </p:submenu>
                    <p:menuitem value="List" icon="pi pi-fw pi-bars"/>
                </p:submenu>
            </p:submenu>
			</ui:remove>
			<p:menuitem value="Bienvenido #{credenciais.usuarioConectado().name}!"></p:menuitem>
            <f:facet name="options">
                <div class="ui-input-icon-left p-mr-2">
                    <i class="pi pi-fw pi-search" />
                    <h:form id="buscar">
                    	<p:inputText placeholder="Search"/>
                    </h:form>
                <p:commandButton id="botonCarrito" value="(#{carouselView.items.size()}) Carrito" action="#{carouselView.verCarrito()}" icon="pi pi-shopping-cart" styleClass="ui-button-info">
                	<p:ajax event="dialogReturn" update="@form"/>
                </p:commandButton>
                <p:commandButton value="Logout" action="#{credenciais.logout()}" icon="pi pi-fw pi-sign-out" styleClass="ui-button-info"/>
                </div>
            </f:facet>
        </p:menubar>
    </h:form>
</div>
</h:body>
</html>
