<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
    
<h:head>
	<link rel="stylesheet" href="resources/css/style.css"/>
</h:head>
<h:body>
<div class="card" id="contenedorRegistro">
	<h:form>
		<h:panelGrid columns="3" style="margin:0 auto">
					<h:outputLabel for="nombre" value="Nombre:" />
					<p:inputText id="nombre" value="#{usuarioBacking.usuario.name}" required="true" requiredMessage="Tienes que poner un nombre"/>
					<p:message for="nombre"/>

		            <h:outputLabel for="pwd1" value="Introduce tu contraseña:"/>
		            <p:password id="pwd1" value="#{usuarioBacking.usuario.contrasena}" match="pwd2" feedback="true" label="Password 1" required="true" requiredMessage="Tienes que poner una contraseña" weakLabel="Débil" goodLabel="Buena" strongLabel="Fuerte"/>
		            <p:message for="pwd1"/>
		   
		  
		            <h:outputLabel for="pwd2" value="Vuelve a introducir tu contraseña:"/>
		            <p:password id="pwd2" value="#{usuarioBacking.usuario.contrasena}" label="Password 2" required="true" requiredMessage="Tienes que volver a poner una contraseña"/>
		            <p:message for="pwd2"/>
		
		    
					<h:outputLabel for="email" value="Email:" />
					<p:inputText id="email" value="#{usuarioBacking.usuario.email}" required="true" requiredMessage="Tienes que poner un email"/>
					<p:message for="email"/>
			
					<h:outputLabel for="direccion" value="Dirección:" />
					<p:inputText id="direccion" value="#{usuarioBacking.usuario.direccion}" required="true" requiredMessage="Tienes que poner una dirección"/>
					<p:message for="direccion"/>
					
					<h:outputLabel for="telefono" value="Teléfono:" />
					<p:inputText id="telefono" value="#{usuarioBacking.usuario.telefono}" required="true" requiredMessage="Tienes que poner un teléfono"/>
					<p:message for="telefono"/>
					
					<h:outputLabel for="imagen" value="Subir imagen" />
					<p:fileUpload fileUploadListener="#{fileUpload.handleFileUpload}" id="imagen" mode="advanced" dragDropSupport="false"  update="messages" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />  
					<p:growl id="messages" showDetail="true" />  
					
					<p:commandButton value="Crear usuario" action="#{usuarioBacking.nuevoUsuario()}" update="@form"/>
			</h:panelGrid>
			<br></br><br></br>
	</h:form>
	<h:form>
		<p:commandButton action="#{credenciais.toLogin()}" value="Volver" />
	</h:form>
</div>
</h:body>
</html>
