<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<h:head>
	<h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
	<title>Productos</title>
	<link rel="stylesheet" href="resources/css/style.css" />
</h:head>
<h:body>
	<div id="heading">
		<ui:include src="/menuUser.xhtml" />
	</div>
	<div class="card">
		<ui:remove>
			<p:carousel value="#{carouselView.productos}" autoPlayInterval="5000" effect="bounceIn" numVisible="4" var="prod" responsive="true"/>
		</ui:remove>
		<p:carousel value="#{carouselView.productos}" numVisible="4" var="prod" responsive="true">
			<h:form id="form">
				<div class="product">
					<div class="product-grid-item p-p-5">
						<div class="product-grid-item-top">
							<div>
								<i class="pi pi-tag product-category-icon" /> 
								<span class="product-category">#{prod.categoria.nombre}</span>
							</div>
							<span class="product-badge status-#{product.inventoryStatus.name().toLowerCase()}">#{prod.inventoryStatus.text}</span>
						</div>
						<div class="product-grid-item-content">
							<p:graphicImage url="/images/#{prod.image}"/>
							<div class="product-name">#{prod.nombre}</div>
							<div class="product-description">Descripción</div>
							<div class="product-stock">Stock:#{prod.stock}</div>
							<div class="p-field p-col-4 p-md-4">
								<p:outputLabel for="@next" value="Unidades" />
								<p:spinner id="unidades"
									value="#{carouselView.itemSeleccionado.numUnidades}" min="0"
									max="#{prod.stock}" />
							</div>
							<ui:remove>
								<p:rating readonly="true" value="#{prod.rating}"/>
							</ui:remove>
							
							<p:rating value="#{prod.rating}" stars="5">
								<f:param name="contentId" value="#{sharedcontent.content.id}" />
					            <p:ajax event="rate" listener="#{ratingView.onrate}" update="messagesRating"/>
					            <p:ajax event="cancel" listener="#{ratingView.oncancel}" update="messagesRating"/>
					        </p:rating>
					         <p:growl id="messagesRating" showDetail="true"/>
						</div>
						<div class="product-grid-item-bottom">
							<h:outputText value="#{prod.precio}" styleClass="product-price">
								<f:convertNumber currencySymbol="€" type="currency" />
							</h:outputText>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<p:commandButton value="Añadir" icon="pi pi-shopping-cart"
								disabled="#{prod.inventoryStatus == 'OUTOFSTOCK'}"
								action="#{carouselView.addItem(prod)}" update=":formMenu">
							</p:commandButton>
						</div>
					</div>
				</div>
				<f:facet name="footer">
                En total hay #{fn:length(carouselView.productos)} productos.
            </f:facet>
			</h:form>
		</p:carousel>
	</div>

</h:body>
</html>
